#url-form{
    text-align: center;
}
#shorten-url{
    text-align: center;
}
.error-msg{
    animation: fadeOut 2s forwards;
    animation-delay: 3s;
    color: #ff171d;

}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
